{
    "name": "project/service/name",
    "type": "project",
    "minimum-stability": "dev",
    "require": {
        "php": ">=5.6.0",
        "yiisoft/yii2": "~2.0",
        "burn/yii2-amqp-service-kit": "~2016.7.0",
        "guzzlehttp/guzzle": "5.3.0"
    },
    "config": {
        "process-timeout": 1800
    },
    "scripts": {
        "post-create-project-cmd": [
            "yii\\composer\\Installer::postCreateProject"
        ]
    },
    "extra": {
        "yii\\composer\\Installer::postCreateProject": {
            "setPermission": [
                {
                    "yii": "0755"
                }
            ]
        }
    }
}
